.toolbar-tab__notification {
  position: relative;
}
.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-notifications:before {
  background-image: url(../images/notification-bell.svg);
}
#toolbar-item-notifications-tray {
  width: auto;
  left: 0;
  right: auto;
}
.toolbar-horizontal .toolbar-tab__notification .toolbar-tray > .toolbar-lining {
  padding: 0;
}
#toolbar-item-notifications[data-count]:after {
  position: absolute;
  top: 0;
  right: 0;
  content: attr(data-count);
  display: block;
  width: 18px;
  height: 18px;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  border-radius: 18px;
  color: #fff;
  background-color: #a60606;
}
#toolbar-item-notifications-tray .view-content {
  margin: 0;
}
#toolbar-item-notifications-tray .message-notification {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #acacac;
}
#toolbar-item-notifications-tray .message-notification .field--name-user-picture {
  min-width: fit-content;
  margin: 0;
}
#toolbar-item-notifications-tray .message-notification .field--name-user-picture img {
  border: 2px solid #cee8ff;
  border-radius: 50%;
}
#toolbar-item-notifications-tray .message-notification .first-letter {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  border: 2px solid #cee8ff;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #d9d9d9;
}
#toolbar-item-notifications-tray .message-notification .content {
  width: 100%;
}
#toolbar-item-notifications-tray .message-notification .view-content {
  margin: 0;
}
#toolbar-item-notifications-tray .message-notification .time-ago-wrapper {
  color: #acacac;
  white-space: nowrap;
}
